@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-slide-in-left {
  animation: slide-in-left 0.2s ease;
}
